<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Dashboard</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Brewer Dashboard">

  <link rel="shortcut icon" href="images/favicon.png">

  <!-- JS -->
  <script src="(( url_for('static', filename='js/axios.min.js') ))"></script>
  <script src="(( url_for('static', filename='js/vue.js') ))"></script>
  <script src="(( url_for('static', filename='js/Chart.bundle.js') ))"></script>
  <script src="(( url_for('static', filename='js/material.min.js') ))"></script>
  <script src="(( url_for('static', filename='js/Tock.js') ))"></script>
  <script src="(( url_for('static', filename='js/circular_json.js') ))"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="(( url_for('static', filename='js/chart_colors.js') ))"></script>
  <!-- More custom JS at end of <body> tag -->
  <script src="(( url_for('static', filename='js/components.js') ))"></script>


  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.3/csshake.min.css">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-indigo.min.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="(( url_for('static', filename='css/styles.css') ))">
</head>

<body>
  <div id="dashboard">
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <main-header @select-config="configuration = $event"></main-header>
      <drawer></drawer>
      <!-- Main Content -->
      <main class="mdl-layout__content mdl-color--grey-100">
        <section id="tools">
          <div class="mdl-grid">
            <!-- Left Column | Procedures -->
            <div id="runProcedure" class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
              <div class="full-width mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text mdl-cell--hide-phone">
                    Current Procedure
                  </h2>
                  <div class="mdl-layout-spacer"></div>
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">play_arrow</i>
                  </a>
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">pause</i>
                  </a>
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Stop
                  </a>
                </div>
                <div class="mdl-card__supporting-text">
                  <!-- Hidden for development, check styles.css #procedureActiveBar -->
                  <div id="procedureActiveBar" class="mdl-progress full-width mdl-js-progress mdl-progress__indeterminate"></div>
                  <table class="mdl-data-table mdl-js-data-table full-width mdl-shadow--2dp">
                    <thead>
                      <tr>
                        <th class="mdl-data-table__cell--non-numeric">Step</th>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">HLT</td>
                        <td>Open</td>
                      </tr>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Wait</td>
                        <td>5 Minutes</td>
                      </tr>
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric">Slack Message</td>
                        <td>Timer Done!</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Right Column | Tools -->
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
              <!-- Timer Card -->
              <timer v-on:timer-finish="sendSlackMessage($event)"></timer>
              <!-- Slack Card -->
              <div class="full-width mdl-card mdl-shadow--2dp">
                <div id="slackCardTitle" class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Slack</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  <p v-show="configuration.slackChannel" class="info">Posting to:
                    <code>{{ configuration.slackChannel }}</code>
                  </p>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea :disabled="!configuration.slackWebhook" v-model="slackMessage" class="mdl-textfield__input" type="text" rows="3" id="slackMessage "></textarea>
                    <label v-if="configuration.slackWebhook" class="mdl-textfield__label" for="slackMessage">Slack Message</label>
                    <label v-else class="mdl-textfield__label" for="slackMessage">Select a configuration first</label>
                  </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a @click="sendSlackMessage" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">send</i>
                    Send
                  </a>
                </div>
                <div class="mdl-card__menu">
                  <button id="slackLink" @click="openSlack" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"></button>
                  <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" for="slackLink">
                    navasotabrewing.slack.com
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="devices">
          <div class="mdl-grid">
            <!-- Valves Column -->
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
              <div class="full-width colored-card--green mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text mdl-cell--hide-phone">
                    Valves
                  </h2>
                </div>
                <div class="mdl-card__supporting-text">
                  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                      <a href="#OnOff-panel" class="mdl-tabs__tab is-active">On/Off</a>
                      <a href="#divert-panel" class="mdl-tabs__tab">Diverts</a>
                      <a href="#variable-panel" class="mdl-tabs__tab">Variables</a>
                      <a href="#pump-panel" class="mdl-tabs__tab">Pumps</a>
                    </div>
                    <br>
                    <div class="mdl-tabs__panel is-active" id="OnOff-panel">
                      <table class="mdl-data-table full-width mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                          <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">State</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="valve in configuration.devices['onOff']">
                            <td class="mdl-data-table__cell--non-numeric">{{ valve.name }}</td>
                            <td>
                              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" :for="valve.name + 'OnOffState'">
                                <input type="checkbox" :id="valve.name + 'OnOffState'" class="mdl-switch__input" checked>
                                <span class="mdl-switch__label"></span>
                              </label>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="mdl-tabs__panel" id="divert-panel">
                      <table class="mdl-data-table full-width mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                          <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Location</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="valve in configuration.devices['divert']">
                            <td class="mdl-data-table__cell--non-numeric">{{ valve.name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">
                              <div style="width: 75px" class="mdl-textfield mdl-js-textfield">
                                <select class="mdl-textfield__input" :id="valve.name + 'DivertState'" :name="valve.name + 'DivertState'">
                                  <option value="0">{{ valve.locations["0"] }}</option>
                                  <option value="1">{{ valve.locations["1"] }}</option>
                                </select>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="mdl-tabs__panel" id="variable-panel">
                      <table class="mdl-data-table full-width mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                          <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">State</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="valve in configuration.devices['variable']">
                            <td class="mdl-data-table__cell--non-numeric">{{ valve.name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">
                              <div class="mdl-textfield variable-valve-state mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" pattern="-?[0-9]*(\.[0-9]+)?" type="tel" :id="valve.name + 'variableState'">
                                <label class="mdl-textfield__label" :for="valve.name + 'variableState'">State</label>
                                <span class="mdl-textfield__error">Needs to be a number</span>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="mdl-tabs__panel" id="pump-panel">
                      <table class="mdl-data-table full-width mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                          <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">State</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="pump in configuration.devices['pump']">
                            <td class="mdl-data-table__cell--non-numeric">{{ pump.name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">
                              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" :for="pump.name + 'PumpState'">
                                <input type="checkbox" :id="pump.name + 'PumpState'" class="mdl-switch__input" checked>
                              </label>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Thermostat Column -->
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
              <!-- Thermostat Card Component -->
              <temp-chart v-for="thermo in configuration.devices.thermostat" ref="tempChart" :key="thermo.address" :thermo="thermo"></temp-chart>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>


  <!-- Custom JS -->
  <script src="(( url_for('static', filename='js/components.js') ))"></script>
  <script src="(( url_for('static', filename='js/index.js') ))"></script>
</body>

</html>
